<!DOCTYPE HTML>
<html>
<link href="About.Page.css" rel="stylesheet" type="text/css"
<body>
	<div>
		I am a college student that has 6 months of experience in web development. I aspire to become a fluent full-stack developer, my expertise is in building front end services. 
	<p>
		I love building things. I'm attracted to solving real customer problems with a business justification. I'm looking for an internship position or a junior position where i can gain experience with architecture and project management. 
	</p></div>
	



</body>
	




</html>