<!DOCTYPE HTML>
<html>
<link href="About.Page.css" rel="stylesheet" type="text/css"
<body>
	<div>
		Luis is a new college graduate with over a year of working experience doing internships as well as industry experience in a programming focused role. My hunger, drive, determination, and devotion to my craft let me start early to claim over 5 years of Python programming and web development. My professional experience has led me to become more fluent and comfortable in data and backend. 
	<p>
		I love building things and leaving a positive impact not only in carefully written code but solving and improving company issues. I'm attracted to solving real customer problems with a business justification. I look to gain more working experience in a data scientist related role and branch out to Machine Learning and Artificial Intelligence. I enjoy math, physics and continuously learning. 
	</p></div>
		<div>
		With the experience and track record I currently hold I continue to believe and practice DevOps while having experience managing and building fluent and fully functional CI/CD pipelines. I also have shell scripting experience as well as a foundational Computer Science background.
	<p>
		if there was anything that caught your eye and want to connect my email: ljmontreal1@gmail.com. Please serious inquires only. If you believe Luis would be a great fit on your team or company and are interested in my hiring lets connect via LinkedIn on the previous page at the bottom! Want me on an upcoming project? Connect with me via github and follow my Instagram/Twitter!
	</p></div>

	



</body>
	




</html>