<!DOCTYPE HTML>
<html>
<link href="About.Page.css" rel="stylesheet" type="text/css"
<body>
	<div>
		Luis is a skilled passionate college graduate that is always learning with over a year of working experience doing internships as well as industry experience in a programming focused role. My hunger, drive, determination, and devotion to the craft let his start early to claim over 5 years of Python programming and web development. His professional experience has led him to become more fluent and comfortable in data and backend. 
	<p>
		I love building things and leaving a positive impact not only in carefully written programs but solving and improving company issues. I am attracted to solving real customer problems with a business justification. I look to gain more working experience in a DevOps and SRE related role.
	</p></div>
		<div>
		With the experience and track record I currently hold I continue to believe and practice DevOps while having experience managing and building fluent and fully functional CI/CD pipelines. Monitoring and metrics, optimizing resiliency, allocation scheduling, Reliability, service endpoint, containerization and bash scripting experience as well as a foundational Computer Science background are things I have learned over the last few years and continue to do so.
	<p>
		if there was anything that caught your eye and want to connect my email: ljmontreal1@gmail.com. Please serious inquires only. If you believe Luis would be a great fit on your team or company and are interested in my hiring lets connect via LinkedIn on the previous page at the bottom! Want me on an upcoming project? Connect with me via github and follow my Instagram/Twitter!!
	</p></div>

	



</body>
	




</html>