body{
	background: black;
}

h1, dl, a{
	color: white;
}

h1{
	    width:500px;
    margin: 0 auto;
    background: black;
    text-align: center;
}

dl, a{
		    width: 500px;
    margin: 0 auto;
    background: black;
    text-align: center;
}

a{
	font-style: italic;
}

.media{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-53%, -50%);
}


li{
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 20px;
	padding: 20px 20px;
	color: #fff;
	transition: .5s;
}

li:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}

